.setting-wrap {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  padding-bottom: 5rem;
}

@media screen and (max-width: 1048px) {
  .setting-wrap {
    width: 100%;
  }
}
.setting-wrap h1 {
  font-size: 30px;
  font-weight: 700;
}

.setting-nickName-wrap {
  display: flex;
  align-items: center;
}

.setting-img-area {
  display: flex;
}

.settign-img-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}

.setting-userImg {
  display: block;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 0 8px rgb(0 0 0 / 9%);
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
  margin: 40px 0;
}

.setting-nickName-wrap h3 {
  width: 20rem;
  font-size: 24px;
  font-weight: 700;
}

.nickName-input {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: large;
  width: 18rem;
  min-height: 3rem;
  padding: 1rem;
  height: 2.5rem;
  outline: none;
}

.nickName-divison {
  margin-top: 0.875rem;
  color: #868e96;
  font-size: 0.875rem;
}

.mybooks-text {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.mybooks-text > span {
  margin-left: 0.5rem;
  color: #343a40;
}

.setting-btn {
  font-weight: 700;
  background-color: #262626;
  color: #fff;
  border-radius: 4px;
  width: 100px;
  margin-right: 10px;
  height: 2rem;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}

#img-input {
  display: none;
}

.img-add,
.img-remove {
  width: 7.5rem;
  margin: 5px 0 5px 5px;
  line-height: 2rem;
}
.img-add {
  text-align: center;
}

.setting-submit {
  margin-top: 1.5rem;
}

.member-out {
  background: #ff3217;
}

.popup-wrap {
  display: none;
  box-sizing: border-box;
  position: fixed;
  inset: 0px;
  z-index: 1000;
  overflow: auto;
  outline: 0px;
  background: rgba(77, 77, 77, 0.5);
}
.delete-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 350px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 2rem 1.5rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
}
.member-popup {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.popup-delete {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 1.25rem;
  height: 2rem;
  font-size: 1rem;
}
.popup-delete-no {
  background: #e9ecef;
  margin-right: 1rem;
}
.popup-delete-yes {
  font-weight: 700;
  background-color: #262626;
  color: #fff;
}
