:root {
  --bg-gray: #f8f9fa;
}

body {
  margin: 0;
  overflow-x: hidden;
}
#root{
  width:100vw;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.navbar > a {
  text-decoration: none;
  height: 30px;
  line-height: 30px;
}
.navbar-logo {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.navbar-logo:hover {
  background-color: grey;
}

.navbar-menus {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  visibility: hidden;
}

.navbar-menus > * {
  margin-left: 10px;
}

.navbar-menus-item {
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
}
.navbar-menus-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-user-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
.navbar-user-name {
  margin: 0 10px;
  font-size: 14px;
}
.navbar-user-image {
  width: 40px;
  height: 40px;
}

.user-menu-list {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 5;
  width: 10rem;
  background: #fff;
  box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
}

.user-menu-item {
  padding: 0.75rem 1rem;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}
.user-menu-item:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.banner {
  max-width: 1280px;
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-text {
  display: flex;
  flex-direction: column;
}
.banner-title {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 40px;
}

.banner-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.banner-image {
  width: 600px;
  margin: 40px;
}

.recruit {
  margin: 0 auto;
  width: 100%;
}
.filter-wrapper-city {
  background-color: var(--bg-gray);
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  padding: 10px;
}
.filter-wrapper-sports {
  padding: 10px;
  background-color: white;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.filter-list-city,
.filter-list-sports {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.filter-list-city li {
  font-size: 13px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 10px 5px;
}
.filter-list-city li p {
  border-radius: 20px;
}
.filter-list-city li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.filter-list-city li.active {
  color: white;
  background-color: #000000;
}
.filter-item {
  text-align: center;
}
.filter-list-sports li {
  opacity: 0.4;
}
.filter-list-sports li.active {
  opacity: 1;
}

.filter-item > img {
  width: 60px;
  height: 60px;
}

.filter-item > img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}

.filter-sports-text {
  margin-top: 10px;
}

.posts-container {
  width: 100%;
  background-color: var(--bg-gray);
  padding-bottom: 300px;
}
.posts-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.posts-filter {
  display: flex;
}

.posts-filter li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts-checkbox > * {
  cursor: pointer;
}
.posts-checkbox,
.posts-filter {
  margin: 0 30px;
  font-size: 20px;
  cursor: pointer;
}

.posts-filter li {
  margin-right: 20px;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  row-gap: 25px;
}

.post {
  position: relative;
  margin: 0 auto;
}

.post:hover {
  transform: scale(1.03);
}
.post-link {
  width: 18rem;
  height: 18rem;
  padding: 1.5rem;
  box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
h3.post-title {
  text-align: center;
  font-weight: bold;
  min-height: 30px;
  line-height: 30px;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}
.post-filter-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.post-sports-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-filter-icon {
  width: 50px;
  height: 50px;
}
.post-filter-name {
  font-size: 13px;
  margin-top: 5px;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-city {
  font-size: 13px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 14px;
}

.info-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.opacity {
  opacity: 0.4;
}

.hidden {
  display: none;
}

.recruited {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}

/* 로그인 팝업 CSS */
.delDeco {
  text-decoration: none;
  color: black;
}

.login-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.login-box {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.login-banner {
  width: 100%;
  top: 0;
  height: 30px;
  background-color: rgba(135, 135, 135, 0.233);
  position: relative;
  border-radius: 8px 8px 0 0;
}

.login-banner > .navbar-logo {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 8px;
  width: 130px;
  height: 30px;
  font-size: 16px;
  border-radius: 8px 0 0 0;
  line-height: 30px;
  background-color: rgba(135, 135, 135, 0);
  color: black;
}

.login-banner > .close-icon {
  display: inline;
  position: absolute;
  right: 2px;
  line-height: 30px;
  bottom: -6px;
  cursor: pointer;
}

.login-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.sign-state {
  font-size: 2em;
  font-weight: 700;
  color: black;
}

.input-label{
  width: 380px;
}
.input-label > span {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 0.8em;
}

.input-box {
  width: 300px;
  height: 30px;
  margin: 1em 0 0 0;
}

.input:focus {
  background-color: rgb(168, 212, 245);
}

.form,
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form .icon-error{
  position: relative;
  bottom: -6px;
  display: none;
}

.form .warning-msg{
  padding: 4px;
  font-size: .7em;
  text-align: center;
  color: red;
}

.login-body .error-msg {
  visibility: hidden;
  color: red;
  font-size: 0.8em;
  text-align: center;
}

.login-body > .btns > button {
  align-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 335px;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.display-toggle{
  display: none;
}
/* 로그인 팝업 CSS 끝 */
.toast {
  --toast-width: 350px;
  --toast-height: 100px;

  position: absolute;
  right: 0;
  top: 80px;
  width: var(--toast-width);
  height: var(--toast-height);
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  animation: move 0.5s both;
}

.toast-heading {
  margin: 10px 0 15px;
}

.toast-message {
  display: flex;
  align-items: center;
  height: 20px;
}

.toast-message > p {
  margin-left: 10px;
}

.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toast-error {
  color: white;
  background-color: #e74c3c;
  border-color: #f5c6cb;
}

.toast-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

@keyframes move {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
